@media (max-width: 600px) {

  /* 비디오 영역 */
  .video_container {
    height: 100svh;
  }

  .video_container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* 로고 이미지 */
  .nav_img:not(.nav_link) {
    height: 4vh !important;
    width: auto !important;
    object-fit: contain;
    margin: 0;
  }

  /* 메뉴 이미지 */
  .nav_link {
    height: 2vh !important;
    width: auto !important;
    object-fit: contain;
    margin: 0;
  }

  /* 메뉴 리스트 */
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
  }

  nav ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1vw;
    height: 100%;
  }

  /* 기사 영역 */
  .article_container2, .article_container {
    padding: 5vh 5vw;
    gap: 2vh;
    width: 90vw;
  }

  .news_text {
    font-size: 5vw;
    line-height: 3vh;
  }

  .news_date, .news_category, .news_title {
    font-size: 1.5vw !important;
    line-height: 1vh !important;
  }

  .article_image img {
    border-radius: 10px;
    width: 100%;
  }
}
